body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #eeee;
}

body * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .testimonials-wrapper {
  padding: 40px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (fit-content)[5];
      grid-template-rows: repeat(5, -webkit-fit-content);
      grid-template-rows: repeat(5, fit-content);
  row-gap: 20px;
  min-height: 100vh;
}

@media (min-width: 750px) {
  body .testimonials-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  body .testimonials-wrapper svg {
    display: none;
  }
}

@media (min-width: 1100px) {
  body .testimonials-wrapper {
    background-image: url("/assets/images/image-from-rawpixel-id-2339978-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: auto;
    -ms-grid-columns: (250px)[4];
        grid-template-columns: repeat(4, 250px);
    -ms-grid-rows: (325px)[2];
        grid-template-rows: repeat(2, 325px);
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }
  body .testimonials-wrapper .testimonial-item {
    -webkit-box-shadow: 3px 3px 10px -5px #252525;
            box-shadow: 3px 3px 10px -5px #252525;
  }
  body .testimonials-wrapper .testimonial-item.violet {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .testimonials-wrapper .testimonial-item.blue {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .testimonials-wrapper .testimonial-item.kira {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  body .testimonials-wrapper .testimonial-item.darkblue {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

body .testimonials-wrapper .testimonial-item {
  width: 100%;
  padding: 25px;
  background-color: #eee;
  border-radius: 7px;
}

body .testimonials-wrapper .testimonial-item h1 {
  color: white;
  font-weight: 500;
}

body .testimonials-wrapper .testimonial-item p {
  color: #c3c3c3;
  font-weight: 400;
}

body .testimonials-wrapper .testimonial-item.violet {
  background-color: #7541c8;
}

body .testimonials-wrapper .testimonial-item.violet img {
  border: 3px solid #9269d3;
}

body .testimonials-wrapper .testimonial-item.violet svg {
  position: absolute;
  right: 40px;
  top: 50px;
  opacity: 45%;
}

body .testimonials-wrapper .testimonial-item.blue {
  background-color: #48556a;
}

body .testimonials-wrapper .testimonial-item.blue img {
  border: 3px solid #5d6e89;
}

body .testimonials-wrapper .testimonial-item.darkblue {
  background-color: #19212e;
}

body .testimonials-wrapper .testimonial-item.darkblue img {
  border: 3px solid #2b384f;
}

body .testimonials-wrapper .testimonial-item.white {
  background-color: white;
}

body .testimonials-wrapper .testimonial-item.white h1 {
  color: #48556a;
}

body .testimonials-wrapper .testimonial-item.white p {
  color: #7687a2;
}

body .testimonials-wrapper .testimonial-item .profile-box,
body .testimonials-wrapper .testimonial-item .title-review {
  margin-bottom: 20px;
}

body .testimonials-wrapper .testimonial-item .profile-box {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .testimonials-wrapper .testimonial-item .profile-box .img-box {
  width: 30%;
  height: 100%;
  max-width: 50px;
}

body .testimonials-wrapper .testimonial-item .profile-box .img-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

body .testimonials-wrapper .testimonial-item .profile-box .name-box {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .testimonials-wrapper .testimonial-item .profile-box .name-box h1 {
  font-size: 0.9em;
}

body .testimonials-wrapper .testimonial-item .profile-box .name-box p {
  font-size: 0.7em;
}

body .testimonials-wrapper .testimonial-item .title-review h1 {
  font-size: 1.2em;
}

body .testimonials-wrapper .testimonial-item .message-review p {
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */